html {
	@include antialias;
	width: 100%; height: 100%;
    font: {
    	family: $body-font-family;
    	size: ($base-font-size / 16) * 1em;
    	weight: $body-font-weight;
	}
    line-height: $base-line-height;
    
    background: {
    	image: url(../img/dot-gray-light.png);
    	image: url(../img/dot-gray-light.svg);
    	size: 30px 30px;
    	color: $color-page-background;
    }
    color: $color-page-text;
}
