.owl-nav {
	position: absolute;
	left: 40px; bottom: 35px;

	div {
		@include border-radius(50%)	;
		@include hover;
		width: 40px; height: 40px;
		display: inline-block;
		margin-right: 6px;
		border: {
			width: 1px;
			style: solid;
			color: inherit;
		}
		text-align: center;
		cursor: pointer;
		color: white;

		&:after {
			
		    text-align: center;
		    line-height: 34px;
		}

		&.owl-prev {
			&:after {
				content: '←';
			}
		}
		
		&.owl-next {
			&:after {
				display: block;
				content: '→';
			}
		}
		
		&:hover {
			.desktop & {
				@include transform(scale(1.2));
			}
		}
		
		&:active {
			@include transform(scale(1.1));
		}	
	}
}