.o-layout {
	@include clearfix;
	@include opacity(0);
	
	.o-layout__item {
		float: left;
		position: relative;
		z-index: 5;
		width: 25%;
		height: 300px;

		@media screen and ( min-width: $tablet_landscape+px ) {
			height: 25vw;
			max-height: 300px;
		}

		@media screen and ( max-width: $tablet_landscape - 1 +px ) {
			width: 50%;
		}
		
		@media screen and ( max-width: 600px ) {
			float: none;
			width: 100%;
		}
		
		.o-layout__item {
			width: 100%;
			
			@media screen and ( max-width: $tablet_landscape - 1 +px ) {
				width: 50%;
			}
			
			@media screen and ( max-width: 600px ) {
				width: 100%;
			}
		}		
		
		&.type-active {
			cursor: pointer;			

			&:hover {
				.desktop & {
					.c-dots__bg {
						top: 0;
						@include transform(scale(1));
					}
				}
			}			
		}
	}
}
