#about {
	.height-md {
		@media screen and ( max-width: $break_small+px ) {
			height: auto;
		}
	}
	
	.o-about__proloque {
		float: right;
	}

	.owl-nav {
		@media screen and ( max-width: $tablet_landscape - 1 + px ) {
			display: none;
		}
	}
	
	.photo {
		overflow: hidden;
	}
}