#team {	
	.o-layout__item {	
		overflow: hidden;

		&:hover {
			.c-caption {
				@include opacity(1);
				bottom: 0;
			}
			
			.o-media {
				@media screen and ( min-width: $tablet_landscape+px ) {
					@include transition-property(all);
					@include transition-duration(6s);
					@include transition-timing-function(ease-in-out);
					@include transform(scale(1.1));
				}				
			}
		}
	}
	
	.vertical-photo {
		@media screen and ( min-width: $break_small + 1 + px ) and ( max-width: $tablet_landscape - 1 + px ) {
			
			background-color: $color-gray-background;
	
			img {
				width: 50%;
			}
			
			.c-caption {
				width: 50%;
			}
		}
	}
}
