$base-font-size:		16;
$base-line-height:		1.2;

$grid-base-width:		1200;

$font-weight-bold:		700;
$font-weight-book:		300;
$font-weight-medium:	600;
$font-weight-normal:	400;

$body-font-family: 'MarkPro', sans-serif;
$body-font-weight: $font-weight-normal;

$tablet_landscape:		1024;
$tablet_portrait:		768;
$break_small:			600;